button {
    display: block;
}
h2,h3 {
    text-align: center;
}

.centered{
    margin: 0 auto;
    display: block;
}

.pokemon-detail {
    padding: 10px 0;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

.generalInfo ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generalInfo li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 14%;
    position: relative;
    left: 0;
}

.generalInfo li div {
    padding: 20px;
    text-align: center;
}

.stats ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stats li {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 15%;
    position: relative;
    left: 0;
}

.stats li div {
    background-color: goldenrod;
    border-radius: 4px;
    padding: 20px;
}

.stats li h4 {
    text-align: center;
}

.stats li span {
    text-align: center;
    font-weight: lighter;
    display: block;
    width:100%;
}

.moves div{
    margin-bottom: 20px;
}

.moves li {
    display:inline-block;
    color:white;
    width: 10%;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-right:10px;
}

.moves ul {
    text-align:center;
  
}
.moves li div {
    background-color: red;
    border-radius: 4px;
    padding: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.moves li h5 {
    text-align: center;
    color: white;
    vertical-align: middle;
    width: 100%;

}