<div class="clearfix grid">
    <div *ngFor="let pokemon of pokemons">
        <a routerLink="/detail/{{pokemon.url.slice(34,-1)}}" 
           class="col-1-10">
           <div class="redCircle">
           </div>
           <div class="pokemon">
            <h3>
             {{pokemon.name}}
             </h3>
           </div>
           <div class="whiteCircle">
           </div>
        </a>
    </div>
</div>

<button (click)="goToPrevious()"
        *ngIf="hasPrevious"
        class="previous">Previous</button>
<button (click)="goToNext()"
        *ngIf="hasNext"
        class="next">Next</button>