<div class="clearfix grid">
    <div *ngFor="let pokemon of pokemons">
        <div class="col-1-5">
           <a class="pokemon"
           routerLink="/detail/{{pokemon.url.slice(34,-1)}}">
            <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.url.slice(34,-1)}}.png"
                alt="Image not found" onerror="this.onerror=null;this.src='../assets/img/pokeball.png';"
                height="250"/>
            <h3>
             {{pokemon.name}}
             </h3>
            </a>
        </div>
    </div>
</div>

<button (click)="goToPrevious()"
        *ngIf="hasPrevious"
        class="previous">Previous</button>
<button (click)="goToNext()"
        *ngIf="hasNext"
        class="next">Next</button>